h1{
    color:blue;
    background-color: aqua;
}
Body{
    background-color:yellow;
}
p{
    font-size:x-large;
}
h2{
    color:deeppink;
    background-color:aqua;
}
h3{
    color:deeppink;
    font-size:"xx-larger";
}
